  html, body {
            height: 100%;
            margin: 0;
        }

body{
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
}

#cont{
	position:relative;
	height: 100%;
}

#container{
	margin: auto;
}

.stuff{
	color: #FFF;
}

h2{
	padding-bottom: 13%;
	font-weight: 700;
}

.btn{
	box-shadow: none;
	height: 3rem;	
}

.btn:hover{
	box-shadow: none;	
}