  html, body {
            height: 100%;
            margin: 0;
        }

body{
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
}

#cont{
	position:relative;
	height: 100%;
}

#container{
	width: 50%;
	margin: auto;
}
#form{
	margin: auto;
}

.stuff{
	color: #FFF;
}

h2{
	padding-bottom: 13%;
	font-weight: 700;
}
dt{
	font-weight: bold;
}
#folders{
	margin-right:4%;
}

.btn{
	box-shadow: none;
}

.btn:hover{
	box-shadow: none;	
}

.file-field .btn{
	float: none;
}

.file-field .file-path-wrapper{
	padding-left:0;
}

.file-field .file-path{
	text-align: center;
}

.add-margin{
	margin-top:2em;
	margin-bottom:2em;
	height: 3rem;
	line-height: 3rem;
}

.command{
	text-transform: none;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}

.info{
	margin: 2%;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: left;
}